.content-box {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #d3a7ea 0%,
    #fae7fe 44.97%,
    #ffffff 100%
  );
  border-radius: 0px;
}

.content-heading {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 500;
}
